doctype html
html(lang='es')
  head
    include ../../header
    script(src='/user-ref')
    script.
      tp.push(["setTags", ["calc2"]]);

      tp.push(["addHandler", "checkoutCustomEvent", function(event){
        switch(event.eventName) {
          case "userRegister":

            console.log("Registrar usuario y hacer el checkout");
            var user = event.params.user;
            console.log("Registrando a " + user.firstName + ", email: " + user.email);

            $.post("https://localhost:3000/user/register", { username: user.firstName, email: user.email, inner:true })
            .done(function(data) {
              if(data && data.userRef ){
                console.log("Usuario registrado:");
                console.log(data.userRef);

                //creando params para checkout
                var paramCheck = {};
                var paramsIframe = tp.containerUtils.getIframe(event.params.sender);
                $.extend(paramCheck, paramsIframe.config);
                paramCheck.allowReturnToStartState = event.params.allowReturnToStartState;
                paramCheck.startScreen = event.params.startScreen;
                paramCheck.termId = event.params.termId;
                console.log(paramCheck);

                //Iniciando checkout
                tp.push(["setUserRef", data.userRef]);
                tp.offer.startCheckout(paramCheck);
              }
            });
          break;

          case "userLogin":
            console.log("Recibiendo al email");
            var user = event.params.user;
            console.log(user.email);

            $.post("https://localhost:3000/user/loginUser", { email: user.email })
              .done(function(data) {
                if(data && data.login === "success" ){
                  console.log("Usuario logueado:");
                  console.log(data.userRef);

                  tp.push(["setUserRef", data.userRef]);
                  location.reload();
                } else {
                  console.log(data);
                }
              });

            //Reload/Send error
          break;
        }

        return false;
      }]);

    style.
      iframe{
        width: 100% !important;
        max-width: 900px !important;
      }
      .tp-iframe-wrapper {
        max-width: 900px !important;
        width: 100% !important;
      }

  body.type-three-column-home-page
    .page-wrapper
      | Calc
