doctype html
html(lang='es')
  head
    include ../../header
    script.
      var isSomeone = "nobody";
      console.log("lalala");
      tp.push(["setTags", ["calc"]]);
      tp.push(['setCustomVariable', 'isSomeone', isSomeone]);

      tp.push(["addHandler", "loginRequired", function(params, event){
        console.log("Aqui recivo params y voy a ver el user");
        console.log(params);
        console.log(event);

        /*
        mysite.showLoginRegistration(function(tinypassUserRef) {
           tp.push(["setUserRef", tinypassUserRef]);
           tp.offer.startCheckout(params);
        });
        */

        // this will prevent the Piano error screen from displaying
        return false;
      }]);

      tp.push(["addHandler", "checkoutCustomEvent", function(event){
        switch(event.eventName) {
          case "userRegister":

            console.log("Registrar usuario y hacer el checkout");
            var user = event.params.user;
            console.log("Registrando a " + user.firstName + ", email: " + user.email);


            $.post("https://localhost:3000/user/register", { username: user.firstName, email: user.email, inner:true })
            .done(function(data) {
              if(data && data.userRef ){
                console.log("Usuario registrado:");
                console.log(data.userRef);

                console.log("---------Evento: ---------");
                console.log(event);
                console.log(tp.containerUtils.getIframe);

                //creando params para checkout
                var paramCheck = {};
                var paramsIframe = tp.containerUtils.getIframe(event.params.sender);
                console.log(event.params.sender);
                console.log(paramsIframe);
                $.extend(paramCheck, paramsIframe.config);
                paramCheck.allowReturnToStartState = event.params.allowReturnToStartState;
                paramCheck.startScreen = event.params.startScreen;
                console.log(paramCheck);


                //Iniciando checkout
                tp.push(["setUserRef", data.userRef]);
                console.log("-----------Justo antes del checkout----------")
                tp.offer.startCheckout(paramCheck);
              }
            });

         break;
        }

        return false;
      }]);

  body.type-three-column-home-page
    .page-wrapper
      | Calc
