doctype html
html(lang='es')
  include header
  script(src='/js/piano.js')
  body.type-three-column-home-page

    .page-wrapper
      | Prueba
      ul
        li
          a(href='private') Contenido privado
        li
          a(href='restricted') Contenido restringido
        li
          a(href='calc') Calculators
