doctype html
html(lang='es')
  include header
  body.type-three-column-home-page
    .page-wrapper
      | login

      form(action="user/login" method="post")
        label(for="user")
          |User
        input(type="text" name="username" id="user")
        label(for="password")
          | password
        input(type="text" name="password" id="password")
        input(type="submit" value="Enviar")
