doctype html
html(lang='es')
  include header
  body
    h2.ui.dividing.header
      | Register
    form(class="ui form" action="user/register" method="post")
      div.field
        label(for="user")
          |User
        input(type="text" name="username" id="user")
      div.field
        label(for="email")
          | email
        input(type="text" name="email" id="email")
      button.ui.button(type="submit")
        | Enviar
