meta(charset='UTF-8')
title IDC
link(rel='canonical', href='http://beta.idconline.mx/')
meta(name='description', content='Artículos de análisis, indicadores, herramientas y calculadoras útiles para el cumplimiento de obligaciones fiscales, legales, laborales, de seguridad social, y de comercio exterior.')
meta(property='type', content='ThreeColumnHomePage')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='cherry-site-name', content='idc')
meta(name='cherry-site', content='00000159-75d7-d4bb-a95d-75df2ae80000')
meta(name='environment', content='production')
meta(name='cXenseParse:pageclass', content='frontpage')
meta(name='cXenseParse:recs:articleid', content='27370218190971372973702971523073')
meta(name='cXenseParse:recs:publishtime', content='2017-01-06T17:41:41.614-0500')
meta(property='og:title', content='Home Page')
meta(property='og:type', content='article')
meta(property='og:site_name', content='IDC')
meta(property='og:locale', content='es_MX')
meta(property='og:url', content='http://beta.idconline.mx/')
link(rel='icon', sizes='32x32', href='/assets/sites/idc/images/favicon.png')
link(rel='icon', sizes='152x152', href='/assets/sites/idc/images/icon_152.png')
link(rel='icon', sizes='192x192', href='/assets/sites/idc/images/icon_192.png')
link(rel='apple-touch-icon', sizes='192x192', href='/assets/sites/idc/images/icon_192.png')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js')
script(src='/js/piano.js')
