doctype html
html(lang='es')
  head
    include header
  body
    h1.ui.divided.header Piano sandbox
    ul
      li Content behind paywal
        ul
          li
            a(href='private') Contenido privado
          li
            a(href='restricted') Contenido restringido
          li
            a(href='calc') Calculators
      li
        a(href='login') Login
      li
        a(href="register.html") Registro
      li
        a(href='logout') Logout
