doctype html
html(lang='es')
  head
    include header
  body
    h1.ui.divided.header Piano sandbox
    ul
      li Content behind paywal
        ul
          each page in pages()
            li
              a(href=page)
                // Changes "pages/folder_name" to "Folder name"
                -
                  var page = page.slice(page.indexOf('/') + 1).replace('_', ' ')
                = page.charAt(0).toUpperCase() + page.slice(1)
      li
        a(href='login') Login
      li
        a(href="register.html") Registro
      li
        a(href='logout') Logout
