doctype html
html(lang='es')
  head
    include header
  body
    h2.ui.dividing.header
      | Login
    form(class="ui form" action="user/login" method="post")
      div.field
        label(for="user")
          |User
        input(type="text" name="username" id="user")
      div.field
        label(for="password")
          | password
        input(type="text" name="password" id="password")
      button.ui.button(type="submit")
        | Enviar
