doctype html
html(lang='es')
  include ../header
  script(src='/custom-js')
  script.

    var isSomeone = "nobody";
    console.log("lalala");
    tp.push(["setTags", ["calc"]]);

    //Si existe userRef nunca entra aquí
    tp.push(["addHandler", "loginRequired", function(params){
      //show modal login
      console.log("A loguear o registrar al usuario lalala");
      console.log(params);

      //si user existe obtener userRef


      //si user es nuevo crear y obtener el userRef

      /* LLamar en caso de hacer el login/registro en modal
      mysite.showLoginRegistration(function(tinypassUserRef) {
         tp.push(["setUserRef", tinypassUserRef]);
         tp.offer.startCheckout(params); //Este metodo llama al termino seleccionado
      });
      */

      // this will prevent the Piano error screen from displaying
      return true;
    }]);


    tp.push(["addHandler", "showOffer", function( offerParams ){
        // Your code after offer has been shown
        console.log("---------------");
        console.log("Mostrando oferta");
        console.log(offerParams);
        console.log(tp.offer);
        console.log("---------------");
    }]);

    tp.push( [ "addHandler", "showTemplate", function (templateParams) {
        console.log("---------------");
        console.log("Mostrando template en calc");
        console.log(templateParams);
        console.log("---------------");
    }]);

    tp.push(["addHandler", "checkoutCustomEvent", function(event){
      console.log(event);
       switch(event.eventName) {
         case "userCheck":
           console.log(event);
       }
    }]);

    tp.push(["addHandler", "checkoutComplete", function(conversion){
       // Your code after successful purchase
       console.log("si!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
       console.log(conversion);
    }]);

    /*
    window.addEventListener('message',function(event) {
    	console.log("Recibiendo los datos wiiii");
    	console.log('received response:  ',event.data);
    },false);
    */

  script(src='../js/piano.js')
  body.type-three-column-home-page

    .page-wrapper
      | Calc
