doctype html
html(lang='es')
  include ../header
  script.
    console.log("lalala");
    tp.push(["setTags", ["calc"]]);


  script(src='../js/piano.js')
  body.type-three-column-home-page

    .page-wrapper
      | Calc
