doctype html
html(lang='es')
  include ../header
  script(src='/custom-js')
  script.

    var isSomeone = "nobody";
    console.log("lalala");
    tp.push(["setTags", ["calc"]]);
    tp.push(['setCustomVariable', 'isSomeone', isSomeone]);

    /*
    tp.push(["addHandler", "customEvent", function (event) {
      switch (event.eventName) {
        case "login":
          console.log("handling login yeah", event);
          isSomeone = "someone"
          tp.push(['setCustomVariable', 'isSomeone', isSomeone]);
          //tp.offer.reload(event.params.iframeid, null)
          break;
      }
    }]);
    */
    tp.push(["addHandler", "showOffer", function( offerParams ){
            // Your code after offer has been shown
            console.log("---------------");
            console.log("Mostrando oferta");
            console.log(offerParams);
            console.log(tp.offer);
            console.log("---------------");
        } ]);

    tp.push( [ "addHandler", "showTemplate", function (templateParams) {
        console.log("---------------");
        console.log("Mostrando template en calc");
        console.log(templateParams);
        console.log("---------------");
    } ]);


  script(src='../js/piano.js')
  body.type-three-column-home-page

    .page-wrapper
      | Calc
